@charset "utf-8";

/*a{color:0x0000FF !important;}
a:hover{color:0xFF3300 !important;}
a:visited{color:0xFFCCCC !important;}*/

a{color:black !important;}
a:hover{color:black !important;}
a:visited{color:black !important;}

.navbar
{
	padding:5px;
	margin-top:20px;
	display:inline-block;
	position: relative;
	margin-left: 200px;
	border: solid 1px black;
	border-radius:10px;
	background-color: #B8B8B8;
	overflow: hidden;
	white-space: nowrap;
}

.navbar a {
	text-decoration: none;
	padding: 10px;
	margin-left: -6px;
}

.navbar a:last-child {
	margin-right: -6px;
}

.navbar a:hover {
	background-color: #F0F0F0;
}

.clearfix
{
	clear:both;
}

.floatright 
{
	margin:5px;
	float:right;
}

.floatleft
{
	float:left;
	clear:both;
}


.body-center
{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #E6E6E6;
	border-radius: 10px;
}

.intro-text {
	width: 400px;
	display: inline-block;
	margin-left: 10px;
	margin-right: 0px;
}

#profile-picture
{
	width:200px;
	margin-left: 20px;
	border-radius: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
}

.headline {
	margin-left: 15px;
	font-family: Ubuntu, Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.projects {
	width: 680px;
	margin-left: 10px;
}

#weather {
	display:inline-block;
}

#MTD {
	display:inline-block;
	vertical-align: top;
}

#output {
	
}

#widgets {
	display: inline-block;
	width: 300px;
}

#buses {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

#ttable td{
	border: 1px black solid;
}